@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

$roboto-slab: 'Roboto Slab', serif;
* {
	margin: 0;
	padding: 0;
}

html, body {
	background-color: #E9EBEE;
	font-family: $roboto-slab;
}

.app {
	.header {
		background: #4267B2;
		text-align: center;
		padding: 10px;
		border-bottom: 1px solid #29487D;

		h1 {
			color: #fff;
			font-size: 20px;
		}

		margin-bottom: 20px;
	}

	.content {
		text-align: center;
	}

	.post {
		width: 700px;
		margin: 0 auto 30px auto;
		padding: 30px;
		border: 1px solid #CCC;
		background: #fff;

		header {
			overflow: hidden;
			padding-bottom: 10px;
			margin-bottom: 15px;
			.avatar {
				float: left;
				margin-right: 10px;

				.thumb {
					width: 60px;
					height: 60px;
					border-radius: 100%;
					background-position: center;
					background-size: cover;
				}
			}

			.author {
				font-size: 20px;
				color: #666;
				margin-bottom: 5px;
			}

			.helper {
				font-size: 14px;
				color: #999;
			}

			border-bottom: 1px solid #EEE;
		}


		.content {
			text-align: left;
			p {
				line-height: 20px;
				margin-bottom: 10px;
				font-size: 16px;
				color: #333;
			}
		}


	}

}
